/* header */
.header {
}
.header__logo-link {
}
.header__logo-img {
  width: 150px;
  height: 65px;
}
.header__nav {
}
.header__nav-list {
}
.header__nav-item {
}
.header__nav-link {
    color: #252B42;
text-align: center;

/* Link */
font-family: Montserrat;
font-size: 16px;
font-weight: 600;
line-height: 28px; /* 175% */
letter-spacing: 0.2px;
}

/* hero */
.hero {
}
.section {
}
.hero__text {
    color: #F6F6F6;
text-align: center;

/* H3 */
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px; /* 150% */
letter-spacing: 0.1px;
}
.hero__title {
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 58px;
font-weight: 700;
line-height: 80px; /* 137.931% */
letter-spacing: 0.2px;
}
.hero__button-text {
    color: #F6F6F6;
text-align: center;

/* H4 */
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 38px; /* 158.333% */
letter-spacing: 0.2px;
}
.hero__button {
    color: var(--Light-text, #FFF);

/* H3 */
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px; /* 150% */
letter-spacing: 0.1px;
}

/* works */
.works {
}
.works__title {
    color: #000;
font-family: Poppins;
font-size: 44px;
font-weight: 600;
line-height: 36px; /* 81.818% */
letter-spacing: 0.1px;
}
.works__list {
}
.works__item {
}
.works__img {
    width: 250px;
height: 506px;
}
.works__link {
    color: #FA4A0C;

/* H3 */
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 36px; /* 150% */
letter-spacing: 0.1px;
}
.works__subtitle {
    color: var(--text, #252B42);

/* H2 */
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}
.works__text {
    color: var(--second-text, #737373);

/* H4 */
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 38px; /* 158.333% */
letter-spacing: 0.2px;
}

/* order */
.order {
}
.order__title {
    color: var(--Light-text, #FFF);
text-align: center;

/* H2 */
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}
.order__text {
    color: #FFF;
text-align: center;

/* H4 */
font-family: Montserrat;
font-size: 24px;
font-weight: 500;
line-height: 38px; /* 158.333% */
letter-spacing: 0.2px;
}
.order__button {
    color: var(--Light-text, #FFF);

/* Button */
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 28px; /* 175% */
letter-spacing: 0.2px;
}

/* footer */
.footer {
}
.header__logo {
}
.header__logo-img {
    width: 150px;
    height: 65px;
}
.footer__text {
    color: var(--second-text, #5C5C5C);
text-align: right;

/* Subtitle */
font-family: Roboto;
font-size: 12px;
font-weight: 700;
line-height: 18px; /* 150% */
letter-spacing: 0.1px;
}
